<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
            </div>
            <h4 class="text-center pb-4">ICT Resource Management System</h4>
            <h6 class="fw-light">Use HRIS credentials to continue.</h6>
            <form (ngSubmit)="login()" [formGroup]="loginForm" class="pt-3">
              <div *ngIf="alert.shown" class="alert alert-{{alert.type}}" role="alert">
                {{alert.messages}}
              </div>
              <div class="form-group">
                <input  formControlName="employee_id"
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Employee ID">
                <label *ngIf="submitted && loginForm.controls['employee_id'].errors"
                       class="error mt-2 text-danger">
                  <ng-container *ngIf="submitted && loginForm.controls['employee_id'].errors.required">This field is required.
                  </ng-container>
                </label>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input formControlName="password"
                         name="password"
                         [type]="showPassword ? 'text' : 'password'" class="form-control form-control-lg" placeholder="Password"/>
                  <div class="input-group-append" (click)="changeFieldType()">
                    <i class="btn-primary input-group-text mdi"
                    [ngClass]="{
                    'mdi-eye-off': !showPassword,
                    'mdi-eye': showPassword
                    }"></i>
                  </div>
                </div>
                <label *ngIf="submitted && loginForm.controls['password'].errors"
                       class="error mt-2 text-danger">
                  <ng-container *ngIf="submitted && loginForm.controls['password'].errors.required">This field is required.
                  </ng-container>
                </label>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >SIGN IN</button>
              </div>
              <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <label class="form-check-label text-muted">
                  </label>
                </div>
              </div>
              <div class="mb-2">
              </div>
              <div class="text-center mt-4 fw-light">
                By continuing to browse this website, you agree to the University of Southeastern Philippines’
                Data Privacy Statement. The full text of The Statement can be accessed through this
                <a href="http://www.usep.edu.ph/usep-data-privacy-statement/" style="font-color:maroon; text-decoration: underline;" target="_blank">link.
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
