<div class="row">
  <div class="col-sm-12">
    <div class="home-tab">
      <div class="d-sm-flex align-items-center border-bottom">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active ps-0" id="list-tab" data-bs-toggle="tab" href="#list" role="tab">List</a>
          </li>
        </ul>
      </div>
      <div class="tab-content tab-content-basic">
        <div class="tab-pane fade show active" id="list" role="tabpanel">
          <pg-approvers-list></pg-approvers-list>
        </div>
      </div>
    </div>
  </div>
</div>
