<div *ngIf="page_alert.shown" class="alert alert-{{page_alert.type}}" role="alert">
  {{page_alert.messages}}
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body home-tab">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="card-title">List of Form Requests</h4>
          <div class="btn-wrapper text-right justify-content-end" >
            <a (click)="changeRoute('/pages/form-request/create')" class="btn btn-primary text-white me-2">
              <i class="icon-approver-follow"></i> Create Form Request
            </a>
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">Reports</button>
            <div class="dropdown-menu" style="">
              <a class="dropdown-item" (click)="handleAction({action: 'report_accomplishment', value: ''})">Accomplishment Report</a>
              <a class="dropdown-item" (click)="handleAction({action: 'report_email', value: ''})">Email Report</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Form No.</th>
              <th>Date Effective</th>
              <th>Status</th>
              <th>Through System</th>
              <th>Added By</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody *ngIf="form_requests?.length != 0">
            <tr *ngFor="let result of form_requests">
              <td>{{ result.name }}</td>
              <td>{{ result.type.form_no }}</td>
              <td>{{ result.date_effective | date }}</td>
              <td>
                <div *ngIf="result.flow_control.approval_status === 'false'" class="badge badge-opacity-warning">In progress</div>
                <div *ngIf="result.flow_control.approval_status !== 'false' && result.flow_control.approval_status !== 'processing'" class="badge badge-opacity-success">Completed</div>
                <div *ngIf="result.flow_control.approval_status === 'processing'" class="badge badge-opacity-danger">To be Process</div>
              </td>
              <td>{{ result.form_type == 'paper' ? 'No' : 'Yes' }}</td>
              <td>{{ result.added_by.full_name }}</td>
              <td>
                <button class="btn btn-lg btn-outline-primary" (click)="handleAction({action: 'table_update', value:result.id})">Edit</button>
                <button class="btn btn-lg btn-outline-primary" [routerLink]="['/pages/form-request/view/' + result.id]">View</button>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="form_requests?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data available</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #form_request let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="form_alert.shown" class="alert alert-danger" role="alert">
      {{form_alert.messages}}
    </div>
    <form>
      <div class="mb-3">
        <ngx-theme-forms
          [data]='data'
          [form]="formData"
          [readonly]="false"
          (actionExecuted)='handleAction( $event )'></ngx-theme-forms>
      </div>
    </form>
  </div>
</ng-template>
