<div *ngIf="page_alert.shown; then FormError else FormDocument" class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="content-wrapper d-flex align-items-center auth">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <div class="text-left p-5 text-center" style="border: 1px solid maroon;">
          <img src="assets/images/logo/usep.png" class="lock-profile-img" alt="img">
          <div *ngIf="page_alert.shown; then FormError else FormVerification">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #FormDocument>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="container">
        <div class="home-tab d-sm-flex align-items-center justify-content-between border-bottom">
          <h4>{{jobOrderNo}}</h4>
          <div>
            <div class="btn-wrapper">
              <a (click)="onPrint()" class="btn btn-outline-dark"><i class="icon-printer"></i> Print</a>
              <a (click)="onDownload()" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Download</a>
            </div>
          </div>
        </div>
        <div class="email-wrapper wrapper">
          <ejs-documenteditorcontainer
            id="document_editor"
            #documenteditor_ref
            [enableToolbar]="true"
            [toolbarItems]="toolbarItems"
            [restrictEditing]="true"
            [serviceUrl]='serviceLink'
            [enableSpellCheck]=true
            (created)="onCreate()"
            (documentChange)="onDocumentChange()"
            style="display:block" height="650">

          </ejs-documenteditorcontainer>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #FormError>
  <div class="alert alert-danger mt-4" role="alert">
    {{page_alert.messages}}
  </div>
</ng-template>

<ng-template #FormVerification>
  <form (ngSubmit)="onVerify()" [formGroup]="loginForm" class="pt-5">
    <div *ngIf="form_alert.shown" class="alert alert-danger" role="alert">
      {{form_alert.messages}}
    </div>
    <div class="form-group">
      <label>Enter password to unlock form</label>
      <div class="input-group">
        <input formControlName="password"
               name="password"
               [type]="showPassword ? 'text' : 'password'" class="text-center form-control form-control-lg" placeholder="Password"/>
        <div class="input-group-append" (click)="changeFieldType()">
          <i class="btn-primary input-group-text mdi {{ showPassword ? 'mdi-eye' : 'mdi-eye-off' }}"></i>
        </div>
      </div>
      <label *ngIf="submitted && loginForm.controls['password'].errors"
             class="error mt-2 text-danger">
        <ng-container *ngIf="submitted && loginForm.controls['password'].errors.required">This field is required.
        </ng-container>
      </label>
    </div>
    <div class="mt-5">
      <a type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium" (click)="onVerify()">Unlock</a>
    </div>
  </form>
</ng-template>

<ng-template #signature let-modal>
  <div class="modal-header">
    <h4 class="modal-title">E Signature</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-3">
        <ul class="nav nav-pills nav-pills-vertical nav-pills-primary" role="tablist" aria-orientation="vertical">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#v-pills-draw" role="tab" aria-controls="v-pills-draw" aria-selected="false">
              Draw
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#v-pills-upload" role="tab" aria-controls="v-pills-upload" aria-selected="true">
              Upload
            </a>
          </li>
        </ul>
      </div>
      <div class="col-8">
        <div class="tab-content tab-content-vertical" id="v-pills-tabContent">
          <div class="tab-pane fade active show" id="v-pills-draw" role="tabpanel">
            <ngx-theme-signature-pad (actionExecuted)="handleAction( $event )"></ngx-theme-signature-pad>
          </div>
          <div class="tab-pane fade" id="v-pills-upload" role="tabpanel">
            <ngx-theme-file-upload (actionExecuted)="handleAction( $event )"></ngx-theme-file-upload>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
