<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="card-title">List of Roles</h4>
        </div>
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Created At</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody *ngIf="roles?.length != 0">
            <tr *ngFor="let role of roles">
              <td>{{ role.name }}</td>
              <td>{{ role.created_at | dateFromNow: 'MMM dd, yyyy hh:mm a' }}</td>
              <td>
                <button class="btn btn-lg btn-outline-primary" (click)="handleAction({action: 'table_user', value:role.id})">Assigned Users</button>
                <button class="btn btn-lg btn-outline-primary" (click)="handleAction({action: 'table_permission', value:role.id})">Permission</button>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="roles?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data available</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #rolemodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table *ngIf="roleUser; else assignrole" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" class="table hover">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody *ngIf="table_data?.length != 0">
        <tr *ngFor="let data of table_data">
          <td>{{ data.first_name }}</td>
          <td>{{ data.last_name }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.status }}</td>
        </tr>
        </tbody>
        <tbody *ngIf="table_data?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data available</td>
        </tr>
        </tbody>
      </table>
      <ng-template #assignrole>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" class="table hover">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody *ngIf="table_data?.length != 0">
          <tr *ngFor="let data of table_data">
            <td>{{ data.first_name }}</td>
            <td>{{ data.last_name }}</td>
            <td>{{ data.status }}</td>
          </tr>
          </tbody>
          <tbody *ngIf="table_data?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data available</td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
  </div>
</ng-template>
