<div class="signature-pad-actions">
  <div class="signature-pad-color">
    <div class="dropdown">
      <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="mdi mdi-brightness-1 mdi-24px {{textColor}}"></i>
      </button>
      <div class="dropdown-menu" >
        <button class="dropdown-item" (click)="changeColor('dark')" style="font-size: 1.2rem;"><i class="mdi mdi-brightness-1" style="color:black;"></i> Black</button>
        <button class="dropdown-item" (click)="changeColor('blue')" style="font-size: 1.2rem;"><i class="mdi mdi-brightness-1" style="color:blue;"></i> Blue</button>
        <button class="dropdown-item" (click)="changeColor('danger')" style="font-size: 1.2rem;"><i class="mdi mdi-brightness-1" style="color:red;"></i> Red</button>
      </div>
    </div>
  </div>
  <div class="signature-pad-action">
    <button class="btn btn-outline-light me-1" (click)="clear()">Clear</button>
    <button class="btn btn-block btn-warning" (click)="undo()">Undo</button>
  </div>
</div>
<div class="signature-pad">
  <div class="signature-pad--body">
    <div class="signature-pad-line"></div>
    <div class="signature-pad-line-text">{{textLine}}</div>
    <canvas #sPad width="732" height="280" style="touch-action: none;"></canvas>
  </div>
</div>
<section class="container-fluid">
  <div class="row">
    <div class="col-6">
      <button class="btn btn-block btn-primary" (click)="savePNG()" [disabled]="disabled">Create</button>
    </div>
  </div>
</section>
